In [103]:
import petpy
import pandas as pd
import requests
import re
api_key = 'AIzaSyBVBgi40th5GLX5Dc36SF3sp-dpBqxc6zU'

In [44]:
cities = pd.read_html('https://github.com/jasperdebie/VisInfo/blob/master/us-state-capitals.csv')
cities = cities[0]
cities

    Unnamed: 0            name     description   latitude   longitude
0          NaN         Alabama      Montgomery  32.377716  -86.300568
1          NaN          Alaska          Juneau  58.301598 -134.420212
2          NaN         Arizona         Phoenix  33.448143 -112.096962
3          NaN        Arkansas     Little Rock  34.746613  -92.288986
4          NaN      California      Sacramento  38.576668 -121.493629
5          NaN        Colorado          Denver  39.739227 -104.984856
6          NaN     Connecticut    Hartford<br>  41.764046  -72.682198
7          NaN        Delaware           Dover  39.157307  -75.519722
8          NaN          Hawaii        Honolulu  21.307442 -157.857376
9          NaN         Florida     Tallahassee  30.438118  -84.281296
10         NaN         Georgia     Atlanta<br>  33.749027  -84.388229
11         NaN           Idaho           Boise  43.617775 -116.199722
12         NaN        Illinois     Springfield  39.798363  -89.654961
13         NaN         Indiana    Indianapolis  39.768623  -86.162643
14         NaN            Iowa      Des Moines  41.591087  -93.603729
15         NaN          Kansas          Topeka  39.048191  -95.677956
16         NaN        Kentucky       Frankfort  38.186722  -84.875374
17         NaN       Louisiana     Baton Rouge  30.457069  -91.187393
18         NaN           Maine         Augusta  44.307167  -69.781693
19         NaN        Maryland       Annapolis  38.978764  -76.490936
20         NaN   Massachusetts          Boston  42.358162  -71.063698
21         NaN        Michigan         Lansing  42.733635  -84.555328
22         NaN       Minnesota        St. Paul  44.955097  -93.102211
23         NaN     Mississippi         Jackson  32.303848  -90.182106
24         NaN        Missouri  Jefferson City  38.579201  -92.172935
25         NaN         Montana          Helena  46.585709 -112.018417
26         NaN        Nebraska         Lincoln  40.808075  -96.699654
27         NaN          Nevada     Carson City  39.163914 -119.766121
28         NaN   New Hampshire         Concord  43.206898  -71.537994
29         NaN      New Jersey         Trenton  40.220596  -74.769913
30         NaN      New Mexico        Santa Fe  35.682240 -105.939728
31         NaN  North Carolina         Raleigh  35.780430  -78.639099
32         NaN    North Dakota        Bismarck  46.820850 -100.783318
33         NaN        New York          Albany  42.652843  -73.757874
34         NaN            Ohio        Columbus  39.961346  -82.999069
35         NaN        Oklahoma   Oklahoma City  35.492207  -97.503342
36         NaN          Oregon           Salem  44.938461 -123.030403
37         NaN    Pennsylvania      Harrisburg  40.264378  -76.883598
38         NaN    Rhode Island      Providence  41.830914  -71.414963
39         NaN  South Carolina        Columbia  34.000343  -81.033211
40         NaN    South Dakota          Pierre  44.367031 -100.346405
41         NaN       Tennessee       Nashville  36.165810  -86.784241
42         NaN           Texas          Austin  30.274670  -97.740349
43         NaN            Utah  Salt Lake City  40.777477 -111.888237
44         NaN         Vermont      Montpelier  44.262436  -72.580536
45         NaN        Virginia        Richmond  37.538857  -77.433640
46         NaN      Washington         Olympia  47.035805 -122.905014
47         NaN   West Virginia      Charleston  38.336246  -81.612328
48         NaN       Wisconsin         Madison  43.074684  -89.384445
49         NaN         Wyoming        Cheyenne  41.140259 -104.820236

In [4]:
pf = petpy.Petfinder(key='kWwwtgMTVviv5enMjkxRZJdhEq7hpxzO2uu78ZK6NTizWQtODi', secret='43qKTFNgUFnBA8V4E9CEs769fcCf5yVrf5qizvdD')

In [8]:
df_list=[]
for j, k in cities.iterrows():
    try:
        lat = k['latitude']
        long = k['longitude']
        name = k['name']
        name = pf.animals(animal_type='dog', location=f'{lat},{long}', distance=500,
                       results_per_page=100, pages=3, return_df = True)
        name.drop(['id','organization_id', 'tags', 'description','organization_animal_id', 'photos', 'videos','status', 
                'status_changed_at', 'attributes.spayed_neutered','attributes.declawed','contact.email', 'contact.phone',
                'contact.address.country','animal_type', 'primary_photo_cropped.small','primary_photo_cropped.medium',
               'primary_photo_cropped.large','primary_photo_cropped'], axis =1, inplace=True)
        df_list.append(name)
    except:
        print(f'skipped {lat},{long}')

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 1 was returned
skipped 58.301598,-134.42021200000002
pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 1 was returned

In [111]:
df = pd.concat(df_list)
df.reset_index(inplace=True)
df.drop('index', axis =1, inplace=True)
df

,url,type,species,age,gender,size,coat,name,published_at,distance,...,environment.children,environment.dogs,environment.cats,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,animal_id,primary_photo_cropped.full
0,https://www.petfinder.com/dog/myrtle-52308432/...,Dog,Dog,Adult,Female,Medium,None,Myrtle,2021-07-10T18:45:16+0000,394.5055,...,None,None,None,400 Millner Industrial Drive,None,Evansville,IN,47710,52308432,NaN
1,https://www.petfinder.com/dog/cowboy-52308433/...,Dog,Dog,Senior,Male,Medium,None,Cowboy,2021-07-10T18:45:16+0000,394.5055,...,None,None,None,400 Millner Industrial Drive,None,Evansville,IN,47710,52308433,NaN
2,https://www.petfinder.com/dog/tusc-stray-tu113...,Dog,Dog,Baby,Female,Medium,None,TUSC-Stray-tu1138,2021-07-10T18:45:12+0000,92.4825,...,None,None,None,3140 35th Street,None,Tuscaloosa,AL,35401,52308431,NaN
3,https://www.petfinder.com/dog/kylo-ren-ky-5230...,Dog,Dog,Adult,Male,Large,None,Kylo Ren (Ky),2021-07-10T18:44:29+0000,342.3639,...,True,True,False,None,None,York,SC,29745,52308428,NaN
4,https://www.petfinder.com/dog/aurora-52308369/...,Dog,Dog,Baby,Female,Small,None,Aurora,2021-07-10T18:40:10+0000,164.2357,...,None,None,None,P.O. Box 297,510 Industrial Park Drive,Starkville,MS,39760,52308369,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14492,https://www.petfinder.com/dog/sophie-52294637/...,Dog,Dog,Adult,Female,Medium,None,Sophie,2021-07-09T17:22:44+0000,347.2984,...,None,None,None,89 N 100 E,None,Heber City,UT,84032,52294637,https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
14493,https://www.petfinder.com/dog/benny-52294545/c...,Dog,Dog,Young,Male,Medium,None,Benny,2021-07-09T17:18:16+0000,99.5528,...,None,None,None,580 McIntyre St (new),None,Golden,CO,80401,52294545,https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
14494,https://www.petfinder.com/dog/odin-52294535/ne...,Dog,Dog,Young,Male,Medium,None,Odin,2021-07-09T17:17:42+0000,424.1322,...,None,None,None,None,None,Lincoln,NE,68502,52294535,https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
14495,https://www.petfinder.com/dog/stompie-52294526...,Dog,Dog,Adult,Male,Medium,None,Stompie,2021-07-09T17:16:20+0000,442.4556,...,None,None,None,1015 Tri-View Avenue,None,Sioux City,IA,51103,52294526,https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
14496,https://www.petfinder.com/dog/batman-52293605/...,Dog,Dog,Young,Male,Medium,None,Batman,2021-07-09T16:53:18+0000,174.5202,...,None,True,None,P.O. Box 1335,701 Gregg Drive,Buena Vista,CO,81211,52293605,https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...

In [30]:
df.to_csv('data.csv')

PermissionError: [Errno 13] Permission denied: 'data.csv'

In [116]:
df.fillna('0', inplace = True)
def address_change(x):
    return x.replace(' ', '+')
df['contact.address.address1'] = df['contact.address.address1'].apply(address_change)
df['contact.address.address2'] = df['contact.address.address2'].apply(address_change)  
for j,k in df.iterrows():
    if k['contact.address.address1'] == '0' and k['contact.address.address2'] == '0':
        animal_id = k['animal_id']
        df = df[df['animal_id']!=animal_id]

In [118]:
df.to_csv('data_unclean.csv')

In [58]:
for j,k df.iterrows():
    r = requests.get(f'https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key={api_key}')
    print(r.json()['results'][0]['geometry']['location'])

37.4219891